@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.ab {
  font-family: "Lora";
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: cyan;
  flex-direction: column;
  align-items: center;
  z-index: 1
}